/* CSS for the Homepage of the website */

/*CSS to apply to entire sheet*/
*{
    background-color: #e5f3fd;
}

/* The characteristics i would like to apply to the entire body section*/
body {
    font-family:'Segoe UI' ;
    color:#141414;
    line-height: 1.6;
    text-align: center;
    padding:0rem; 
}

/* Navigation Bar CSS */
.navcontainer{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* Body of Homepage */

.header{
    display: flex;
    align-content: flex-start;
}

/* Picture alignment*/
#pictore1,#pictore2,#pictore3,#pictore4,#pictore5{
    border-style: solid;
    border-color: #e5f3fd;
}

#pictore2{
    max-height: 300px;
}

#pictore3{
    max-height: 200px;
}

